.btnContainer {
  border: 1px solid red;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottomBtn {
  border: 1px solid black;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .prevBtn {
    margin-left: 10px;
  }

  .nextBtn {
    margin-right: 10px;
  }
}
