* {
  box-sizing: border-box;
}

.topContainer {
  position: fixed;
  background-color: white;
}

.bodyContainer {
  padding-top: 10vh;
}

@media only screen and (max-width: 768px) {
  .bodyContainer {
    padding-top: 16vh;
  }
}
